<html>

<head>
    <title>Flask loyiha</title>    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li class="m10"><a href="{{ url_for('kvadrat') }}">kvadrat</a></li>
            <li class="m10"><a href="{{ url_for('dam') }}">dam</a></li>            
            <li class="m10"><a href="{{ url_for('x2') }}">x2</a></li>            
            <li class="m10"><a href="{{ url_for('oshxona') }}">Oshxona</a></li>            
            
            
        </ul>
    </nav>
</body>
</html> 